<!DOCTYPE html>
<html>
    <head>
        <title>Calculator</title>
        <link rel="stylesheet" href="../static/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <main>
            <div id="calculator__container">
                <div id="display">
                    <div id="display__value">0</div>
                </div>
                <div id="key__grid">
                    <button class="key key--alters-display" data-key="7">7</button>
                    <button class="key key--alters-display" data-key="8">8</button>
                    <button class="key key--alters-display" data-key="9">9</button>
                    <button class="key key--red" id="key--delete" data-key="Backspace">DEL</button>
                    <button class="key key--red" id="key--clear" data-key="c">AC</button>
                    <button class="key key--alters-display" data-key="4">4</button>
                    <button class="key key--alters-display" data-key="5">5</button>
                    <button class="key key--alters-display" data-key="6">6</button>
                    <button class="key key--operator" data-key="*">*</button>
                    <button class="key key--operator" data-key="/">/</button>
                    <button class="key key--alters-display" data-key="1">1</button>
                    <button class="key key--alters-display" data-key="2">2</button>
                    <button class="key key--alters-display" data-key="3">3</button>
                    <button class="key key--operator" data-key="+">+</button>
                    <button class="key key--operator" data-key="-">-</button>
                    <button class="key key--turquoise key--alters-display" data-key=".">.</button>
                    <button class="key key--alters-display" data-key="0">0</button>
                    <button class="key" id="key--equal" data-key="=">=</button>
                </div>
            </div>

            <p>You can use your keyboard!</p>
            <p>DEL: Backspace - AC: C</p>
        </main>

        <footer>
            Made by <a href="https://github.com/LBonino" target="_blank">LBonino</a>
        </footer>
        <script src="../static/js/calculator.js"></script>
    </body>
</html>
