html {
    font-size: 16px;
}

@font-face {
    font-family: "ubuntu";
    src: url("./fonts/Ubuntu-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background: linear-gradient(to top, rgb(86, 255, 255), rgb(187, 255, 255)) no-repeat fixed;
    font-family: "ubuntu";
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-bottom: 0;
    font-size: 1.2rem;
}

#calculator__container {
    margin-top: 10%;
    width: 24rem;
    height: 30rem;
    background-color: #222;
    border: solid 3px #FFBF00;
    border-radius: 1rem;
    box-shadow: 0 0 0 2px #222, -5px 5px 10px #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@font-face {
    font-family: "digital";
    src: url("./fonts/digital-7.ttf");
    font-weight: normal;
    font-style: normal;
}

#display {
    width: 90%;
    height: 15%;
    margin: 20px 0;
    background-color: rgb(235, 235, 235);
    border: solid 2px #FFBF00;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 2px black inset;
    display: flex;
    justify-content: flex-end;
    user-select: none;
}

#display__value {
    margin-right: 3%;
    align-self: center;
    font-family: "digital";
    font-size: 2.6rem;
}

#key__grid {
    width: 90%;
    height: 60%;
    margin-bottom: 10%;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    gap: 10px;
}

.key {
    color: white;
    background-color: #333;
    border: solid 2px #FFBF00;
    border-radius: 0.3rem;
    font-size: 1.4rem;
}

.key:hover {
    background-color: rgb(61, 61, 61);
}

.key:active {
    background-color: rgb(56, 56, 56);
    font-size: 1.3rem;
}

.key--red {
    border-color: red;
}

.key--operator {
    border-color: rgb(72, 196, 253);
}

#key--equal {
    grid-column: 4 / 6;
    border-color: lime;
}

.key--turquoise {
    border-color: #00ffbf;
}

footer {
    margin: 1% 0px;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
